body {
    font-family: 'Special Gothic Expanded One', cursive;
    font-weight: 470;
    background-image: url('/images/purplebk.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: end;
}

main { 
    font-family: 'Manrope', sans-serif;
}

img {
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
}

.menu {
    display: flex;
    gap: 60px;
    padding: 0;
}

.nome {
    color: rgb(113, 26, 147);
    display: flex;
    flex-direction: row;
    font-weight: 470;
    height: fit-content;
    transform: translateX(-1005px);
}

.menu a {
    text-decoration: none;
    color: rgb(113, 26, 147);
    transition: color 0.3s;
}

.menu a:hover {
    padding: 2px;
    color: rgba(182, 75, 158, 0.364)
}

.imagemPerfil {
    height: 350px;
    display: block;
    justify-self: center;
    transform: translateY(38px);
}

.titulo {
    display: flex;
    justify-content: center;
    font-family: 'Special Gothic Expanded One';
    color: rgb(113, 26, 147);
}

.sobreMim {
    display: flex;
    justify-content: center;
    font-family: 'Manrope';
    align-content: center;
    text-align: center;
}

.contatos{
    color: rgb(113, 26, 147);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    transform: translateY(89px);
}

.rodape {
    font-size: small;
    color: rgb(113, 26, 147);
    justify-self: center;
    padding-top: 100px;
}

.contatos a {
    text-decoration: none;
    color: rgb(113, 26, 147);
}

.contatos a:hover {
    padding: 2px;
    color: rgba(182, 75, 158, 0.364)
}

.conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.coluna {
    background-color: #ffffff10; /* opcional, só pra separar visualmente */
    padding: 15px;
    border-radius: 10px;
}

.conteiner-hardskills li {
    text-align: center;
    font-size: small;
    background-color: #ffffffe8; /* opcional, só pra separar visualmente */
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 15px;
 }

 .conteiner-hardskills li:hover {
    background-color: #fbc5f58f;
 }


.subtitulo {
    margin-bottom: auto;
    margin-top: auto;
    font-weight: bold;
    color: rgb(113, 26, 147);
}

.conteiner-softskills .coluna {
    background-color: #ffffffe8;
    text-align: center;
    align-content: auto;
    border-radius: 30px;
}

.conteiner-softskills p {
    font-size: small;
}

.conteiner-softskills .coluna:hover {
    background-color: #f9cbf48f;
}